* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: gray;
  color: white;
  font-family: "Courier New", Courier;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.cart {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
}
